@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro|Open+Sans');

body {
  margin: 60px auto;
  width: 70vw;
  max-width: 1000px;
  min-width: 480px;
}

h1 {
  font-family: 'Source Serif Pro', serif;
  font-size: 32pt;
}

h2 {
  font-family: 'Source Serif Pro', serif;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header ul {
  font-family: 'Open Sans', sans-serif;
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

header ul li {
  display: inline;
  margin-right: 20px;
}

li.current {
  border-bottom: 4px solid #d5d5d5;
}

header a {
  color : #999;
  text-decoration: none;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer ul {
    font-family:'Open Sans', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
  color: #999;
  text-decoration: none;
}

.caption {
  text-align: center;
  color: #AAA;
  font-style: italic;
}
